@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>ACTIVO FIJO</h2>
    <p>Un activo fijo es un bien de una empresa, ya sea tangible o intangible, que no puede convertirse en líquido a corto plazo</p>
    <P>y que normalmente son necesarios para el funcionamiento de la empresa y no se destinan a la venta.</P>

</div>

<div>

    <IMG SRC="https://contabilidad.com.do/wp-content/uploads/2015/07/contabilidad-2.jpg" width="1148" height="275">


</div>


<div class="row">
    <div class="col-md-4">
        <h2>VIDA UTIL</h2>

        <p>
            La vida útil de un activo fijo es definida como la extensión del servicio que la empresa espera obtener del activo.
        </p>
        <p>La vida útil puede ser expresada en años, unidades de producción, kilómetros, horas, o cualquier otra medid  </p>

    </div>
    <div class="col-md-4">
        <h2>  EJEMPLOS  </h2>
        <p>Son ejemplos de activos fijos: bienes inmuebles, maquinaria, material de oficina, etc.</p>

    </div>
    <div class="col-md-4">
        <h2>CLASIFICACION</h2>
        <p>El "activo fijo" se clasifica en tres grupos:</p>
        <p>Tangible, elementos que pueden ser tocados, tales como los terrenos, los edificios, la maquinaria, etc.</p>
        <p>Intangible, que incluye cosas que no pueden ser tocadas materialmente, tales como los derechos de patente, etc.</p>
        <p> Las inversiones en compañías.</p>

    </div>
</div>